.stacks {
  margin-top: 120px;
  height: 470px;
  width: 100%;

  @media screen and (min-width: 767px) {
      height: 400px;
  }

  .ListWithOutUl {
      width: 122.28px;
      height: 43.66px;
      padding: 13px 7.28px 12.66px 17px;
      border-radius: 16.8px 16.8px 0px 0px;

      @media screen and (min-width: 767px) {
          /* Add styles for larger screens if needed */
      }
  }

  h1 {
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      padding: 0px;

      @media screen and (min-width: 767px) {
          /* Add styles for larger screens if needed */
      }
  }
}
