// Font
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

  

// Colors Variables
$primary-color: #222222;
$secondary-color: #141414;
$primary-tex-color: #f3efef;
$secondary-tex-color: #b13607;
$font-size-base: 16px;

// Fonts Variables
$font-family-inter: 'Inter', Arial, sans-serif;
$font-size-base: 16px;